  <div class="filter-by" ng-init="vm.init()">

    <div class="filter-suggestions">
        <div class="suggestions">
            <ul>
                <li class="post dropdown" ng-repeat="post in vm.posts">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <h1>{{post.Title}}<span class="pull-right"><img src="images/play-button.png"></span>
                          <span ng-if="vm.PostFor!='3'" class="pull-right">Bids: {{post.lstOffers.length}}</span>
                          <span ng-if="vm.PostFor=='3'" class="pull-right">Replies: {{post.lstOffers.length}}</span>
                        </h1>
                        <P class="pull-left" ng-switch on="post.LeadStatus">

                          <span ng-show="vm.PostFor=='1'">Lead</span>
                          <span ng-show="vm.PostFor=='2'">Offer</span>
                          <span ng-show="vm.PostFor=='3'">Discussion</span>   
                            <span ng-switch-when="4">
                                 (Closed)
                            </span>
                            <span ng-switch-when="2">
                                 (Accepted)
                            </span>
                            <span ng-switch-default>
                                (Active)
                            </span>
                          <!-- <span >(Active)</span> -->
                        </P>
                        <button  ng-if="vm.PostFor!='3'" type="button" class="btn btn-default Close-lead pull-right" ng-show="post.LeadStatus=='1' || post.LeadStatus==''" ng-click="vm.CloseLead(post)">

                           <span ng-show="vm.PostFor=='1'">Close Lead</span>
                          <span ng-show="vm.PostFor=='2'">Close Offer</span>

                        </button> 
                        <hr>
                        <div class="description">
                            <ul class="description-details">
                                <li><span>Category: </span><span ng-bind="post.CategoryName"></span></li>
                                <li><span>Sub Category: </span><span ng-bind="post.SubCateName"></span></li>
                                <li ng-if="vm.PostFor!='3'"><span>Location: </span><span ng-bind="post.Location"></span></li>
                                <li ng-if="vm.PostFor!='3'"><span>Split/Share %: </span><span ng-bind="post.SharePercentage"></span></li>
                                 <li ng-if="vm.PostFor!='3'"><span>Amount $: </span><span ng-bind="post.LeadAmount"></span></li>
                                <li ng-if="post.LeadNeed"><span>Need: </span><span ng-bind="post.LeadNeed"></span></li>
                                <li ng-if="post.LeadType"><span>Type: </span><span ng-bind="post.LeadType"></span></li>
                            </ul>
                        </div>

                    </a>
                    <div class="dropdown-menu drop-sec">
                        <div ng-repeat="inner in post.lstOffers" ng-if="vm.PostFor!='3'">
                          <div class="leads-details">
                            <div class="pull-left" ui-sref="user.profile({ tab:inner[0].UserId })" style="cursor: pointer;">
                                <img src="images/person.jpg" class="img-circle">
                            </div>
                            <div class="pull-left name-mailid">
                              <h1>{{inner[0].FirstName}} {{inner[0].LastName}}</h1>
                              <h5 ng-bind="inner[0].EmailId"></h5>
                            </div>
                          </div>
                          <div ng-repeat="offer in inner">
                              <div class="leads-details">
                              <!--<div class="pull-left" ui-sref="user.profile({ tab:offer.UserId })" style="cursor: pointer;">
                                    <img src="images/person.jpg" class="img-circle">
                                </div>
                                <div class="pull-left name-mailid">
                                  <h1>{{offer.FirstName}} {{offer.LastName}}</h1>
                                  <h5 ng-bind="offer.EmailId"></h5>
                                </div> -->
                                <h4 class="pull-left">{{offer.FirstName}} {{offer.LastName}}</h4>
                                <span class="pull-right">{{offer.OfferDate}}</span>
                                <p ng-bind="offer.OfferDescription"></p>
                                <P ng-if="vm.PostFor!='3'" class="text-primary" ng-switch on="offer.OfferStatus" ng-show="offer.OfferStatus!='1'">Bid   
                                    <span ng-switch-when="4">
                                         Rejected
                                    </span>
                                    <span ng-switch-when="2">
                                         Accepted
                                    </span>
                                    <a ng-switch-when="2" href="" class="btn-xs btn-success Feedback" data-toggle="modal" data-target="#ratings" ng-click="vm.FeedBackUserId=offer.UserId">Feedback</a>
                                </P>                         
                                
                              </div>
                              <div ng-show="offer.OfferStatus=='1' && (post.LeadStatus=='1' || post.LeadStatus=='')" ng-if="vm.PostFor!='3' && offer.UserId!=vm.currentUser.UserId">
                                  <button type="button" class="btn btn-default Accepted-bid" ng-click="vm.ResponseOffer(offer,'2')">Accept Bid</button>
                                  <button type="button" data-toggle="modal" data-target="#DiscussionRpy" ng-click="vm.PostId=post.LeadId; vm.FeedBackUserId=offer.UserId;" class="btn btn-default Revised-bid">Revised Bid</button>
                                  <button type="button" class="btn btn-default Rejected-bid" ng-click="vm.ResponseOffer(offer,'4')">Reject Bid</button>
                              </div>  
                            
                              
                          </div>
                          <div class="divider"></div> 
                        </div>
                          <div ng-repeat="offer in post.lstOffers" ng-if="vm.PostFor=='3'">
                            <div class="leads-details">
                              <div class="pull-left" ui-sref="user.profile({ tab:offer.UserId })" style="cursor: pointer;">
                                  <img src="images/person.jpg" class="img-circle">
                              </div>
                              <div class="pull-left name-mailid">
                                <h1>{{offer.FirstName}} {{offer.LastName}}</h1>
                                <h5 ng-bind="offer.EmailId"></h5>
                              </div>
                              <p ng-bind="offer.OfferDescription"></p>
                              
                            </div>
                          
                            <div class="divider"></div> 
                        </div>                        
                         <P ng-if="vm.PostFor=='3'" class="text-primary reply" >
                                  <a href="" style="float: left;" class="btn-xs btn-success Feedback" data-toggle="modal" data-target="#DiscussionRpy" ng-click="vm.PostId=post.LeadId">Reply</a>
                          </P>
                        <div class="no-offers" ng-show="post.lstOffers==0">
                          No offers available
                        </div>
                    </div>
                </li>
                           
            </ul>
        </div>
   
    </div>
</div>

<div class="modal fade" id="ratings" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         
        </div>
        <div class="modal-body">
            <div class="rating-sec">
              <ng-rate-it ng-model="vm.FeedBackModel.Rating" step="1"></ng-rate-it>
            </div>
            <form>
                <div class="form-group">
                  <textarea placeholder="Feedback" class="form-control" ng-model="vm.FeedBackModel.Feedback" ></textarea>
                </div>
                <button type="submit" class="btn btn-block btn-info" ng-click="vm.ratingClick()">Submit</button>
            </form>
        </div>
        
      </div>
    </div>
</div>

<div class="modal fade" id="DiscussionRpy" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" id="btnDiscussionRpy" data-dismiss="modal">&times;</button>
         
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <textarea placeholder="Reply" class="form-control" ng-model="vm.ReplyDiscussion" ></textarea>
                </div>
                <button type="submit" class="btn btn-block btn-info" ng-click="vm.MakeOffer()">Submit</button>
            </form>
        </div>
        
      </div>
    </div>
</div>