<div class="clearfix margin-top-15" ng-init="vm.init()"></div>

<div class="container">
    <div class="dsh-jobs">
        <div class="row">
            <div class="col-sm-2 dj-icon-container">
                <div class="dj-icon text-center"><img src="images/icn1.png" class="img-responsive"></div>
            </div>
            <div class="col-sm-10 dsh-jobs-cont">
                <div class="dsh-jobs-btns-container">
                    <a ui-sref="#">
                        <button class="dsh-jobs-btn">TOTAL JOBS LISTED <div class="badge">{{vm.dashboardData.totalAvailableJobs}}</div></button>
                    </a>
                    <a ui-sref="#">
                        <button class="dsh-jobs-btn">AWAITING APPROVAL <div class="badge">{{vm.dashboardData.awaitingApproval}}</div></button>
                    </a>
                    <a ui-sref="#">
                        <button class="dsh-jobs-btn">TOTAL JOBS COMPLETED <div class="badge">{{vm.dashboardData.totalJobsCompleted}}</div></button>
                    </a>
                    <a ui-sref="#">
                        <button class="dsh-jobs-btn">UPCOMING JOBS <div class="badge">{{vm.dashboardData.yourUpcommingJobs}}</div></button>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="dsh-jobs2">
        <div class="row">
            <div class="col-sm-2 dj-icon-container">
                <div class="dj-icon text-center"><img src="images/icn2.png" class="img-responsive"></div>
            </div>
            <div class="col-sm-10 dsh-jobs-cont">
                <div class="dsh-jobs-btns-container2">
                    <a ui-sref="#">
                        <button class="dsh-jobs-btn">TOTAL JOBS COMPLETED <div class="badge">{{vm.dashboardData.jobsCompleted}}</div></button>
                    </a>
                    <a ui-sref="#">
                        <button class="dsh-jobs-btn">COMPLETED PAYMENTS <div class="badge">{{vm.dashboardData.completedPayments}}</div></button>
                    </a>
                    <a ui-sref="#">
                        <button class="dsh-jobs-btn">PENDING PAYMENTS <div class="badge">{{vm.dashboardData.pendingPayments}}</div></button>
                    </a>
                    <a ui-sref="#">
                        <button class="dsh-jobs-btn">TOTAL MONEY SPENT <div class="badge"><i class="fa fa-gbp"></i>{{vm.dashboardData.totalEarned}}</div></button>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="container">
    <select id="ho-sort" ng-model="vm.selectedFilter" ng-change="vm.onChangeFilterBy()">
        <option value="0">Filter By</option>
        <option value="1">Entire Company</option>
        <option value="2">Sub-Account</option>
    </select>

    <select ng-show="vm.showSubAccountDDL" ng-change="vm.onChangeSubAccount(vm.selectedSubOffice)" ng-model="vm.selectedSubOffice" id="ho-sort" 
        ng-options="so as so.areaName for so in vm.subOffices">
    </select>

     <select ng-show="vm.showBranchDDL" ng-model="vm.selectedBranch" id="ho-sort" 
        ng-options="branch as branch.ODSCode for branch in vm.branches">
    </select>

    <select ng-model="vm.selectedMonth" id="finance-table-month" 
        ng-options="month as month.value for month in vm.months">
    </select>   

    <select ng-model="vm.selectedYear" id="finance-table-year" 
        ng-options="year as year.value for year in vm.years">
    </select>

      <button type="button" id="profile-submit-btn" class="ho-submit-btn" ng-click="vm.getJobs()">Search</button>

</div>

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="dmp-container head_office">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active':vm.active==1}" ng-click="vm.ActiveTab(1)"><a>All Completed jobs</a></li>
                        <li ng-class="{'active':vm.active==2}" ng-click="vm.ActiveTab(2)"><a>Awaiting Invoice</a></li>
                        <li ng-class="{'active':vm.active==3}" ng-click="vm.ActiveTab(3)"><a>Payment Due</a></li>
                        <li ng-class="{'active':vm.active==4}" ng-click="vm.ActiveTab(4)"><a>Paid</a></li>
                        <li ng-class="{'active':vm.active==5}" ng-click="vm.ActiveTab(5)"><a>Invoice from SmartLocum</a></li>
                    </ul>
                    <div class="tab-content">

                    <!-- all completed jobs -->
                        <div id="all-completed-job" class="tab-pane fade in active">
                            <div id="examples">
                                <div class="table-responsive default-skin demo content mCustomScrollbar">
                                    <table class="table table-bordered table-hover jobs-table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Day</th>
                                                <th>Time</th>
                                                <th>Pharmacy</th>
                                                <th>Locum</th>
                                                <th>Rate</th>
                                                <th>Travel Expense</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="job in vm.jobs">
                                                <td>{{job.jobdate}}</td>
                                                <td>{{job.jobDay}}</td>
                                                <td>{{job.jobTime}}</td>
                                                <td>{{job.pharmacyName}}</td>
                                                <td>{{job.locumName}}</td>
                                                <td>{{job.rate}}</td>
                                                <td>{{job.travelExpense}}</td>
                                                <td>
                                                <button ng-show="job.jobStatus == 4" class="send-invoice-btn"><span>£</span> <span>Invoice Send</span></button>
                                                <button ng-show="job.jobStatus == 6" class="awaiting-payment-btn"><span>£</span> <span>Awaiting Invoice</span></button>
                                                <button ng-show="job.jobStatus == 7" class="payment-overdue-btn"><span>£</span><span>Payment Due</span></button>
                                                <button ng-show="job.jobStatus == 8" class="paid-btn pharmacy-paid-btn"><span>£</span><span>Paid</span></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- awaiting job -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>