<div class="banner bg-blur">
    <div class="containe-fluid">
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <div class="login-wrap">
                    <div class="login-html">
                        <div class="title">
                            <h1 class="tab">Sign In</h1>
                        </div>
                       <!--  <input id="tab-2" type="radio" name="tab" class="sign-up">
                        <label for="tab-2" class="tab">Sign Up</label> -->
                        <div class="login-form">
                            <div class="sign-in-htm">
                                <div class="group">
                                    <label for="user" class="label">EmailId</label>
                                    <input id="user" type="text" class="input"  autocomplete="off" ng-model="vm.credentials.userId" required>
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Password</label>
                                    <input id="pass" type="password" class="input" data-type="password"  autocomplete="off" ng-model="vm.credentials.password" required>
                                </div>
                                <div class="group">
                                    <input id="check" type="checkbox" class="check" checked>
                                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                                </div>
                                <div class="group">
                                    <input type="submit" class="button" value="Sign In" ng-click="vm.login()">
                                </div>
                                <div class="foot-lnk">
                                    <a href="#forgot">Forgot Password?</a>
                                </div>
                                <div class="ui horizontal divider">
                                    OR       
                                </div>
                                <div class="social-share">
                                    <ul>
                                        <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="gplus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-signup">
                                <p id="account-message">Don't have an account?</p>
                                <h1><a ui-sref="user1.locumsignup">Create an account</a></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>