  <div class="filter-by" ng-init="vm.init()">
    <div class="filter-result">
        <div class="pull-left">
            <span>Search Results</span> <span>({{vm.posts.length}} items found )</span>
        </div>
        <div class="pull-right">
          <!--   <div class="form-group pull-right">
                <select class="form-control">
                    <option>View as</option>
                    <option>List</option>
                    <option>Tabbed</option>
                </select>
            </div> -->
            <div class="form-group pull-right sort">
                <select class="form-control">
                  <!--   <option>Sort by</option> -->
                   <!--  <option>Type (L/O/D)</option> -->
                    <option>Date</option>
           <!--          <option>Location</option> -->
                </select>
            </div>
        </div>
    </div>
    <div class="filter-suggestions">
        <div class="suggestions">
            <ul>
                <li class="post" ng-repeat="post in vm.posts">
                    <a ui-sref="user.leaddetail({ tab:post.LeadId })">
                        <div class="pull-left list-icon" ng-switch on="post.PostFor">
                            <img src="images/alert-3.png" ng-switch-when="1">
                            <img src="images/alert-2.png" ng-switch-when="2">
                            <img src="images/alert-1.png" ng-switch-when="3">
                        </div>
                        <div class="pull-right list-item">
                            <h1 ng-bind="post.Title"></h1>
                            <P ng-show="post.PostFor=='1'">Leads</P>
                            <P ng-show="post.PostFor=='2'">Offer</P>
                            <P ng-show="post.PostFor=='3'">Discussion</P>
                            <!-- <hr> -->
                            <div class="description">
                                <ul class="description-details">
                                    <li><span>Category: </span><span ng-bind="post.CategoryName"></span></li>
                                      <li><span>SubCategory: </span><span ng-bind="post.SubCateName"></span></li>
                                    <li ng-show="post.PostFor!='3'"><span>Location: </span><span ng-bind="post.Location"></span></li>
                                    <li ng-show="post.PostFor!='3'"><span>Split/Share %: </span><span ng-bind="post.SharePercentage"></span></li>
                                     <li ng-show="post.PostFor!='3'"><span>Amount $: </span><span ng-bind="post.LeadAmount"></span></li>
                                    <li ng-if="post.LeadNeed"><span>Need: </span><span ng-bind="post.LeadNeed"></span></li>
                                    <li ng-if="post.LeadType"><span>Type: </span><span ng-bind="post.LeadType"></span></li>
                                </ul>
                            </div>
                         </div>   
                    </a>
                </li>
            </ul>
        </div>
   
    </div>
</div>