<div class="main-area signup">

  <div class="signup-container text-center content-setter-for-header">
    <div class="row">
      <div class="col">
        <div class="start-header text-left">
          <h1 class="signup-header">
            Change Password<br />
            <small>Help us set up your account so that we can swrve you in the best way possible.</small>
          </h1>
        </div>
      </div>
    </div>

  </div>
  <form name="login">


    <div class="base-container-control">
      <input type="password" name="password" placeholder="Old Password" class="text-control" ng-model="customer.oldPassword" required autofill="false">  
    </div>

    <div class="base-container-control">
      <input type="password" name="password" placeholder="Password" class="text-control" ng-model="customer.password" required autofill="false">  
    </div>
    <div class="error-container" ng-show="login.password.$error && login.password.$dirty" ng-messages="login.password.$error">
      <div ng-messages-include="templates/error-list.html"></div>
    </div>
    <div class="base-container-control">
      <input type="password"name="confirmpassword" placeholder="Confirm Password" class="text-control" ng-model="customer.confirmPassword"  required/>
    </div>

    <div class="error-container" ng-show="login.confirmpassword.$error && login.confirmpassword.$dirty" ng-messages="login.confirmpassword.$error">
      <div ng-messages-include="templates/error-list.html"></div>
    </div>
    <div class="error-container" ng-show="(customer.password!==customer.confirmPassword) && login.confirmpassword.$dirty && login.password.$dirty">
      <div class="error">
        <i class="ion-information-circled"></i> 
        Password Match Not Found
      </div>
    </div>


    <div class="base-header">
      <div class="padding-20">
        <button class="button button-full button-large button-dark" ng-disabled="login.$invalid" ng-click="goToLandingScreen(customer)">
          Submit
        </button>
      </div>
    </div>


  </form>
</div>
